.display-none {
    display: none;
}

.ordered-list {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-container {
    border: 1px solid black;
    box-sizing: border-box;
}


/* Vertical Spacing */

div.hr-space-1 {
    height: 10px;
}

div.hr-space-2 {
    height: 20px;
}

div.hr-space-4 {
    height: 40px;
}

div.hr-space-8 {
    height: 80px;
}

div.hr-space-16 {
    height: 160px;
}

div.hr-space-32 {
    height: 320px;
}


/* Custom Styling */

div.text-right {
    text-align: right;
}

.primary {
    background-color: #0275d8;
}

.success {
    background-color: #5cb85c;
}

.black {
    background-color: black;
}


/* box styling */

.row {
    width: 100%;
}

.border {
    border: 1px solid black;
}

.box {
    box-shadow: -3px 5px 35px 3px #ccc;
    margin-top: 3%;
}

.box-header {
    background-color: #e9e8e8;
    height: 30px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.box-body {
    background-color: #fafafa;
    border-radius: 5px;
    color: #0088cc;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.zero-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.responsive-table {
    overflow-x: auto;
}

.processed {
    color: white;
    display: block;
    width: 80px;
    padding: 3px;
    height: 20px;
    text-align: center;
    background-color: #0275d8;
}

.rejected {
    color: white;
    display: block;
    width: 80px;
    padding: 3px;
    height: 20px;
    text-align: center;
    background-color: #d9534f;
}

.delivered {
    color: white;
    display: block;
    padding: 3px;
    width: 80px;
    height: 20px;
    text-align: center;
    background-color: #5cb85c;
}

.item-container {
    border: 1px solid rgba(204, 204, 204, 0.671);
    box-sizing: border-box;
    
}

.item-name {

    background-color: white;
    padding: 20px 10px 10px 10px;

}

.item-image {
    display: flex;
    justify-content: center;
    /* border: 1px solid white; */
    padding: 10px 5px 5px 5px;
    background-color: white;
}

.item-rate {
    color: #0275d8;
    padding: 20px 10px 10px 10px;
    font-weight: 600;
    font-size: 18px;;
    background-color: white;
}

.item-image img {
    width: 180px;
    height: 180px;
}

.button {
    padding: 5px;
    cursor: pointer;
    text-decoration-style: none;
    text-decoration-line: none;
    color: white;
}

.btn {
    border: 0px;
    height: 35px;
    width: 80px;
}

.btn-success {
    background-color: #5cb85c;
}

.btn-success:hover {
    background-color: #318331;
}

.customer-name {
    color: #0275d8;
    text-decoration-line: none;
}

.product-link {
    text-decoration-line: none;
    color: black;
}

.text-box {
    height: 30px;
    width: 230px;
}

.pull-right {
    float: right;   
}