/* body  */

body {
    margin: 0px;
    background-color: #ECF0F5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* header  */

header>div.app-header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
    background-color: #357CA5;
    height: 50px;
}

.app-title {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.menu-icon {
    display: inline-block;
    padding: 12px;
    margin-left: 4px;
    cursor: pointer;
}

.menu-icon>i {
    font-size: 22px;
}

header>div.app-menu {
    color: white;
    background-color: #3C8DBC;
    height: 50px;
}

.notification-icon,
.profile-icon {
    float: right;
    display: block;
    padding: 12px;
    font-size: 22px;
    cursor: pointer;
    margin-right: 20px;
}


/* main-container */

.body-container {
    display: flex;
    height: 100vh;
}


/* navigation-container */

div.navigation {
    flex-grow: 0;
    float: left;
    background-color: #2A3F54;
    position: relative;
    bottom: 0px;
}

.nav-animation {
    -webkit-animation-name: example;
    -webkit-animation-duration: 1s;
    animation-name: example;
    animation-duration: 1s;
}

@-webkit-keyframes example {
    0% {
        left: -300px;
    }
    100% {
        left: 0px;
    }
}

@keyframes example {
    0% {
        left: -300px;
    }
    100% {
        left: 0px;
    }
}

div.navigation>ol {
    float: left;
    list-style-type: none;
    margin: 0px;
    overflow: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #2A3F54;
    padding-left: 0px;
    width: 220px;
    text-align: start;
    margin-top: 10px;
}

div.navigation>ol>li {
    padding: 17px 0px;
    margin-top: 5px;
    padding-left: 40px;
}

div.navigation>ol>li>a {
    text-decoration: none;
    color: rgba(231, 231, 231, 0.925);
}

div.navigation>ol>li>a>i {
    padding-right: 8px;
    widows: 25px;
    padding-right: 14px;
    font-size: 22px;
}

div.navigation>ol>li>a:hover {
    color: white;
}

div.navigation>ol>li:hover {
    cursor: pointer;
}

div.navigation>ol>li.active>a {
    color: white;
}

div.navigation>ol>li.active {
    background-color: #35495d;
}


/* content-container */

.article {
    flex-grow: 1;
    position: relative;
    overflow: auto;
}

.article-animation {
    -webkit-animation-name: example1;
    -webkit-animation-duration: 3s;
    animation-name: example1;
    animation-duration: 3s;
}

@-webkit-keyframes example1 {
    0% {
        left: -300px;
    }
    100% {
        left: 0px;
    }
}

@keyframes example1 {
    0% {
        left: -100px;
    }
    40% {
        left: 0px;
    }
}